@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

/* begin: demo 1 */
.countdown-wrapper {
  mask-image: url('/images/demo-1/mask-1.png');
  mask-size: 100%;
}
/* end: demo 1 */

/* begin: override */
.ReactCrop__child-wrapper {
  height: 100%;
  width: 100%;
}

.__floater__body {
  @apply overflow-hidden !rounded-lg;
}

.react-datepicker {
  font-family: var(--font-sora) !important;
}

.react-datepicker__current-month {
  @apply !text-sm !font-medium;
}

.react-datepicker-time__header {
  @apply !text-sm !font-medium;
}

.react-datepicker {
  @apply !overflow-hidden !rounded-xl !border-neutral-200;
}

.react-datepicker__day--selected {
  @apply !bg-pink-600;
}

.react-datepicker__time-container {
  @apply !border-neutral-200;
}

.react-datepicker-popper .react-datepicker__triangle {
  @apply !stroke-neutral-200;
}

.react-datepicker__header {
  @apply !border-neutral-200 !bg-neutral-100;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  @apply !bg-pink-600;
}
/* end: override */

.decoration-1-mask {
  filter: drop-shadow(1.5px 0 0 #000) drop-shadow(0 1.5px 0 #000)
    drop-shadow(-1.5px 0 0 #000) drop-shadow(0 -1.5px 0 #000);
}

.fred-text-stroke {
  color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #546595;
}
